@use "../abstracts/" as *;

.main {
    .hero {
        display: flex;
        flex-direction: column;
        background-color: $bg;

        .hero__content {
            font-family: Satoshi;
            background-color: $bg;
            padding: to-rem(40) to-rem(16) 0 to-rem(16);
            display: flex;
            flex-direction: column;
            gap: to-rem(20);

            .hero__heading {
                font-family: "Integral CF";
                font-weight: $fw-700;
                font-size: $fs-36;
            }
            .hero__para {
                font-weight: $fw-400;
                font-size: $fs-14;
            }
            .hero__btn {
                font-weight: $fw-500;
                background-color: $primary;
                color: $secondary;
                font-size: $fs-16;
                border-radius: to-rem(30);
                padding: to-rem(16) to-rem(54);
                text-align: center;
            }
            .hero__blocks {
                flex-wrap: wrap;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: to-rem(27);

                .block__number {
                    font-weight: $fw-700;
                    font-size: $fs-24;
                    line-height: 100%;
                }

                .block__string {
                    font-weight: $fw-400;
                    font-size: $fs-12;
                    line-height: to-rem(22);
                }

                .vertical-line--1 {
                    width: to-rem(1);
                    height: to-rem(52);
                    background: rgba(0, 0, 0, 0.1);
                }
                .vertical-line--2 {
                    width: to-rem(1);
                    height: to-rem(52);
                    background: rgba(0, 0, 0, 0.1);
                    display: none;
                }
            }
        }

        .hero__image {
            width: 100%;

            img {
                display: block;
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
    }

    .brand-strip {
        background-color: $primary;
        height: to-rem(122);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: to-rem(14);
        .brand {
            height: to-rem(32);
        }
    }

    .new-arrivals {
        font-family: "Satoshi";
        padding: to-rem(45) 0;
        padding-left: 10px;

        .new-arrivals__heading {
            padding-bottom: to-rem(32);
            text-align: center;
            font-family: "Integral CF";
            font-weight: $fw-700;
            font-size: $fs-32;
            line-height: 100%;
            letter-spacing: 0%;
            vertical-align: middle;
        }

        .new-arrivals__blocks {
            display: flex;
            gap: to-rem(20);
            overflow-y: hidden;

            .product-card {
                width: to-rem(200px);
                flex-shrink: 0;

                .product-card__image {
                    display: block;
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
                .new-arrivals__rating {
                    display: flex;
                    gap: to-rem(11);
                    align-items: center;

                    .rating-h2{
                        font-weight: $fw-400;
                        font-size: $fs-12;
                        line-height: 100%;
                        letter-spacing: 0%;
                    }
                    .rating-span{
                        opacity: 0.6;
                    }
                }
                .new-arrivals__pricing {
                    display: flex;
                    gap: to-rem(5);
                    align-items: center;
                    .price{
                        font-size: $fs-20;
                        font-weight: $fw-700;
                    }
                    .new-arrivals__discount{
                        text-decoration: line-through;
                        opacity: 40%;
                    }
                    .new-arrivals__percent{
                        border-radius: to-rem(30);
                        background-color: $red-alpha60;
                        color: $red;
                        padding: to-rem(6) to-rem(14);
                        font-weight: $fw-500;
                        font-size: $fs-10;
                    }
                }
            }
        }

        .product-card {
            .new-arrivals__product-name {
                font-weight: $fw-700;
                font-size: $fs-16;
                padding: to-rem(10) 0 to-rem(4) 0;
            }
        }
    }
}

@media (min-width: $tablet) {
    .main {
        .hero {
            flex-direction: row;
            align-items: stretch;

            .hero__content,
            .hero__image {
                flex: 1;
            }

            .hero__content {
                padding: to-rem(40) to-rem(18) to-rem(20);
                gap: to-rem(24);
                justify-content: center;

                .hero__heading {
                    font-size: to-rem(30);
                }

                .hero__blocks {
                    justify-content: flex-start;
                    gap: to-rem(18);

                    .block__number {
                        font-size: $fs-16;
                    }

                    .block__string {
                        font-size: $fs-10;
                    }

                    .vertical-line--2 {
                        display: block;
                    }
                }

                .hero__btn {
                    width: fit-content;
                    padding: to-rem(8) to-rem(32);
                }
            }
        }
    }
}

@media (min-width: $desktop) {
    .main {
        .hero {
            .hero__content {
                padding: to-rem(100) to-rem(100) 0;
                width: 50%;
                gap: to-rem(32);

                .vertical-line--2 {
                    display: none;
                }

                .hero__heading {
                    font-size: $fs-64;
                }

                .hero__para,
                .hero__btn {
                    font-size: $fs-16;
                }

                .hero__blocks {
                    .block__number {
                        font-size: $fs-40;
                    }

                    .block__string {
                        font-size: $fs-16;
                    }
                }
            }

            .hero__image {
                width: 50%;
            }
        }

        .brand-strip {
            gap: to-rem(106);

            .brand {
                height: to-rem(24);
            }
        }

        .new-arrivals {
            padding: to-rem(72) to-rem(100) to-rem(64);

            .new-arrivals__heading {
                font-size: $fs-48;
                padding-bottom: to-rem(55);
            }

            .new-arrivals__blocks {
                flex-wrap: wrap;
                overflow-x: visible;
                padding-bottom: 0;
                gap: to-rem(32);

                .product-card {
                    flex: 1 1 220px;
                    .new-arrivals__product-name {
                        font-weight: $fw-700;
                        font-size: $fs-20;
                        padding: to-rem(16) 0 to-rem(8) 0;
                    }
                }
            }
        }
    }
}
